section.ec_txid {
    background-color: rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    padding: 3% 0;
    font-size: 165%;
}

section.ec_txid a {
    margin-left: 1%;
}

section.ec_txid i {
    font-family: 'FontAwesome';
    font-size: 0;
}

@media only screen and (max-width: 1000px)  {
    section.ec_txid a:first-child {
        font-size: 0;
    }
    section.ec_txid i {
        font-size: 30px;
    }
}
