/*
Theme Name: Entry Credits Hestia
Theme URI: https://www.canonical-ledgers.com
Author: Ryan Stonebraker
Author URI: https://www.canonical-ledgers.com
Description: This theme is an adaptation of the Hestia theme for entrycredits.io.
Template: hestia
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: entrycredits
Text Domain: entrycredits
*/

div.page-header {
    margin-top: 0;
}

nav.navbar.navbar-transparent {
    background-color: whitesmoke;
}

nav.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #337ab7;
    text-decoration: underline;
    background-color: #e7e7e7;
}

nav.navbar.navbar-transparent .navbar-nav > .active > a,
nav.navbar-default.navbar-nav>.active>a,
nav.navbar-default.navbar-nav>.active>a:hover,
nav.navbar-default.navbar-nav>.active>a:focus,
ul.nav.navbar-nav li a:hover,
footer li a:hover,
footer div.copyright a:hover,
nav.navbar:not(.navbar-transparent) li:not(.btn):hover > a,
body:not(.home) nav.navbar-default .navbar-nav > .active:not(.btn) > a:hover,
ul.nav.navbar-nav li a.active,
ul.nav.navbar-nav li a, body:not(.home) nav.navbar-default .navbar-nav > .active:not(.btn) > a {
    color: #337ab7;
}

ul.nav.navbar-nav li a {
    color: grey;
}

input.form-control, .form-group .form-control, .woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea, div.wpforms-container .wpforms-form input[type=date],
div.wpforms-container .wpforms-form input[type=datetime],
div.wpforms-container .wpforms-form input[type=datetime-local],
div.wpforms-container .wpforms-form input[type=email],
div.wpforms-container .wpforms-form input[type=month],
div.wpforms-container .wpforms-form input[type=number],
div.wpforms-container .wpforms-form input[type=password],
div.wpforms-container .wpforms-form input[type=range],
div.wpforms-container .wpforms-form input[type=search],
div.wpforms-container .wpforms-form input[type=tel],
div.wpforms-container .wpforms-form input[type=text],
div.wpforms-container .wpforms-form input[type=time],
div.wpforms-container .wpforms-form input[type=url],
div.wpforms-container .wpforms-form input[type=week],
div.wpforms-container .wpforms-form select,
div.wpforms-container .wpforms-form textarea {
    background-color: rgba(0,0,0,0.05);
}

button, button:hover, input[type="button"],
input[type="button"]:hover, input[type="submit"],
input[type="submit"]:hover, input#searchsubmit, .pagination span.current,
.pagination span.current:focus, .pagination span.current:hover, a.btn.btn-primary,
a.btn.btn-primary:link, a.btn.btn-primary:hover, a.btn.btn-primary:focus, a.btn.btn-primary:active,
a.btn.btn-primary.active, a.btn.btn-primary.active:focus, a.btn.btn-primary.active:hover,
a.btn.btn-primary:active:hover, a.btn.btn-primary:active:focus, a.btn.btn-primary:active:hover,
.hestia-sidebar-open.btn.btn-rose, .hestia-sidebar-close.btn.btn-rose,
.hestia-sidebar-open.btn.btn-rose:hover,  .hestia-sidebar-close.btn.btn-rose:hover,
.hestia-sidebar-open.btn.btn-rose:focus, .hestia-sidebar-close.btn.btn-rose:focus,
.label.label-primary, .hestia-work .portfolio-item:nth-child(6n+1) .label,
.nav-cart .nav-cart-content .widget .buttons .button {
    background-color: #337ab7;
}

div.wc-proceed-to-checkout a.checkout-button.button,
button#place_order.button.alt {
    background-color: #337ab7;
    -webkit-box-shadow:
        0 2px 2px 0 rgba(37, 138, 224, 0.14),
        0 3px 1px -2px rgba(37, 138, 224, 0.2),
        0 1px 5px 0 rgba(37, 138, 224,0.12);

    box-shadow:
        0 2px 2px 0 rgba(37, 138, 224, 0.14),
        0 3px 1px -2px rgba(37, 138, 224, 0.2),
        0 1px 5px 0 rgba(37, 138, 224,0.12);
}

div.wc-proceed-to-checkout a.checkout-button.button:hover,
button#place_order.button.alt:hover,
a.btn.btn-primary:focus,
a.btn.btn-primary:active,
a.btn.btn-primary.active,
a.btn.btn-primary:active:focus,
a.btn.btn-primary:active:hover {
    background-color: #5295cf;
    box-shadow:
        0 14px 26px -12px rgb(51, 122, 183),
        0 4px 23px 0 rgba(0,0,0,0.12),
        0 8px 10px -5px rgba(37, 82, 121, 0.19);
    -webkit-box-shadow:
        0 14px 26px -12px rgb(51, 122, 183),
        0 4px 23px 0 rgba(0,0,0,0.12),
        0 8px 10px -5px rgba(37, 82, 121, 0.19);
}

a.btn.btn-primary:hover {
    box-shadow:
        0 14px 26px -12px rgb(51, 122, 183),
        0 4px 23px 0 rgba(0,0,0,0.12),
        0 8px 10px -5px rgba(37, 82, 121, 0.19);
    -webkit-box-shadow:
        0 14px 26px -12px rgb(51, 122, 183),
        0 4px 23px 0 rgba(0,0,0,0.12),
        0 8px 10px -5px rgba(37, 82, 121, 0.19);
}

button.button, input[type="submit"], input[type="button"], a.btn.btn-primary,
a.hestia-sidebar-open.btn.btn-rose, a.hestia-sidebar-close.btn.btn-rose {
    -webkit-box-shadow:
        0 2px 2px 0 rgba(37, 138, 224, 0.14),
        0 3px 1px -2px rgba(37, 138, 224, 0.2),
        0 1px 5px 0 rgba(37, 138, 224,0.12);

    box-shadow:
        0 2px 2px 0 rgba(37, 138, 224, 0.14),
        0 3px 1px -2px rgba(37, 138, 224, 0.2),
        0 1px 5px 0 rgba(37, 138, 224,0.12);
}

p.return-to-shop a.button.wc-backward,
div.summary button.single_add_to_cart_button.button.alt {
    background-color: #337ab7;
    -webkit-box-shadow:
        0 2px 2px 0 rgba(37, 138, 224, 0.14),
        0 3px 1px -2px rgba(37, 138, 224, 0.2),
        0 1px 5px 0 rgba(37, 138, 224,0.12);

    box-shadow:
        0 2px 2px 0 rgba(37, 138, 224, 0.14),
        0 3px 1px -2px rgba(37, 138, 224, 0.2),
        0 1px 5px 0 rgba(37, 138, 224,0.12);
}

p.return-to-shop a.button.wc-backward:hover,
div.summary button.single_add_to_cart_button.button.alt:hover {
    background-color: #337ab7;
    box-shadow:
        0 14px 26px -12px rgb(51, 122, 183),
        0 4px 23px 0 rgba(0,0,0,0.12),
        0 8px 10px -5px rgba(37, 82, 121, 0.19);
    -webkit-box-shadow:
        0 14px 26px -12px rgb(51, 122, 183),
        0 4px 23px 0 rgba(0,0,0,0.12),
        0 8px 10px -5px rgba(37, 82, 121, 0.19);
}

div.woocommerce-billing-fields, div.woocommerce-additional-fields h3 {
    visibility: hidden;
}

footer.footer.footer-black.footer-big {
    display: flex;
}

div.copyright.pull-right {
    text-align: right;
    flex: 1;
    margin-right: 5%;
}

ul.additional-nav {
    display: flex;
    align-self: center;
    flex: 1;
    margin-left: 3%;
}

ul.additional-nav li {
    flex: 1;
}
